.year-dropdown-menu
  min-width: 60px !important
  a
    padding: 3px 10px
    text-align: center

.year-dropdown-button
  font-size: 14px

.rating-sub-header
  margin-top: 5px
  margin-bottom: 5px

//border: 1px solid #d0d0d0

.rating-negotiator-comment
  min-width: 200px

.rating-region-comment
  min-width: 200px

.ratingstate-select
  font-size: 12px !important
  button
    font-size: 12px
    padding: 3px 5px
    border: 0
  ul
    font-size: inherit
    min-width: 0
    padding: 0
    li
      font-size: inherit
      padding: 0
      button
        font-size: inherit
        height: 100%
        padding: 3px 5px

.rating-max-available-header
  background-color: #f3f3f3

.excel-btn
  position: absolute
  cursor: pointer
  left: 7px
  margin-top: 20px
  width: 50px
  height: 50px
  background: url('/assets/images/excel-icon.svg') no-repeat center
  background-size: 60%
