<div class="box" *ngIf="loadedRating">
  <div class="text-center">
    <div class="excel-btn" (click)="downloadExcel()"></div>
    <h5 class="sub-header">
      Исходные данные для расчета рейтинга управ районов САО в части
      показателей ЖКХ за
    </h5>
    <div>
      <div class="btn-group" dropdown>
        <button id="monthDropDown" class="btn btn-default" type="button"
                dropdownToggle>
          {{displayableMonth(pickedMonth)}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu year-dropdown-menu" dropdownMenu>
          <li class="year-dropdown-menu" *ngFor="let month of availratS.availableMonths"
              (click)="monthPicked(month)"><a>{{displayableMonth(month)}}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="yearDropDown" class="btn btn-default" type="button"
                dropdownToggle>
          {{pickedYear}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu year-dropdown-menu" dropdownMenu>
          <li class="year-dropdown-menu" *ngFor="let year of availratS.availableYears"
              (click)="yearPicked(year)"><a>{{year}}</a></li>
        </ul>
      </div>
      года
    </div>
    <h5>
      в соответствии с {{loadedRating.base_document.description_imp}}
    </h5>
  </div>
  <div class="rating-label">
    <div>
      <span
        *ngIf="!auth.user || !auth.user.can_approve_rating || loadedRating.is_approved"
        class="label"
        [ngClass]="{
              'label-warning': loadedRating.state == ratingStates.on_negotiation,
              'label-info': loadedRating.state == ratingStates.negotiated,
              'label-success': loadedRating.state == ratingStates.approved
            }">{{loadedRating.state}}
            </span>
    </div>
    <div
      *ngIf="auth.user && auth.user.can_approve_rating && !loadedRating.is_approved"
      class="btn-group ratingstate-select" dropdown>
      <button
        [ngClass]="{
          'label-warning': loadedRating.state == ratingStates.on_negotiation,
          'label-info': loadedRating.state == ratingStates.negotiated,
          'label-success': loadedRating.state == ratingStates.approved
        }"
        id="rating-state-button" type="button" class="btn btn-default label"
        dropdownToggle>
        {{loadedRating.state}}&nbsp;<span class="caret"></span>
      </button>
      <ul dropdownMenu role="menu"
          aria-labelledby="rating-state-button">
        <li *ngIf="loadedRating.state == ratingStates.on_negotiation"
            role="menuitem">
          <button class="dropdown-item label label-info"
                  (click)="changeRatingState(ratingStates.negotiated)">
            {{ratingStates.negotiated}}
          </button>
        </li>
        <li *ngIf="loadedRating.state == ratingStates.negotiated"
            role="menuitem">
          <button class="dropdown-item label label-success"
                  (click)="changeRatingState(ratingStates.approved)">
            {{ratingStates.approved}}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="rating-table">
    <table class="table table-striped">

      <!-- ############################# TABLE HEAD ##############################-->

      <thead>
        <tr>
          <th class="text-center rating-element-name">
            <div class="complex-header">
              <div>Наименование<br>показателя</div>
              <div class="rating-menu-elements">
                <span dropdown>
                    <a href id="elements-dropdown" dropdownToggle
                       class="glyphicon glyphicon-menu-hamburger"
                       aria-hidden="true">
                    </a>
                    <ul class="dropdown-menu elements-dropdown-choices"
                        dropdownMenu
                        aria-labelledby="elements-dropdown">
                      <li role="menuitem">
                          <div class="elements-dropdown-choices-text choose-all"
                               (click)="displayAllHeaders()">
                            <span>Выбрать все</span>
                          </div>
                      </li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem" *ngFor="let header of headers">
                        <div class="elements-dropdown-choices-checkbox">
                          <input type="checkbox" [checked]="header.is_displayed"
                                 (change)="toggleHeader(header)">
                        </div>
                        <div>
                          <div class="elements-dropdown-choices-text"
                               [innerHTML]="header.text.replace('<br>', ' ')"></div>
                        </div>
                      </li>
                    </ul>
                </span>
              </div>
            </div>
          </th>
          <th *ngIf="headers[0].is_displayed"
              class="text-center rating-responsible-name"
              [innerHTML]="headers[0].text"></th>
          <th class="text-center rating-element-name menu-only">
            <div class="complex-header">
              <div class="rating-menu-elements">
                <span dropdown>
                    <a href id="regions-dropdown" dropdownToggle
                       class="glyphicon glyphicon-menu-hamburger"
                       aria-hidden="true">
                    </a>
                    <ul class="dropdown-menu elements-dropdown-choices"
                        dropdownMenu
                        aria-labelledby="regions-dropdown">
                      <li role="menuitem">
                          <div class="elements-dropdown-choices-text choose-all"
                               (click)="displayAllRegions()">
                            <span>Выбрать все</span>
                          </div>
                      </li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"
                          *ngFor="let region of regionsS.regions">
                        <div class="elements-dropdown-choices-checkbox">
                          <input type="checkbox" [checked]="region.is_displayed"
                                 (change)="toggleRegion(region)">
                        </div>
                        <div>
                          <div class="elements-dropdown-choices-text"
                               [innerHTML]="region.name"></div>
                        </div>
                      </li>
                    </ul>
                </span>
              </div>
            </div>
          </th>
          <ng-container *ngFor="let region of regionsS.regions">
            <th class="text-center" *ngIf="region.is_displayed">
              <span>{{region.name.slice(0, 3)}}</span>
            </th>
          </ng-container>
          <th *ngIf="headers[1].is_displayed" class="text-center"
              [innerHTML]="headers[1].text"></th>
          <th *ngIf="headers[2].is_displayed"
              class="text-center rating-element-description"
              [innerHTML]="headers[2].text">
          </th>
          <th *ngIf="headers[3].is_displayed"
              class="text-center rating-negotiator-comment"
              [innerHTML]="headers[3].text">
          </th>
          <th *ngIf="headers[4].is_displayed"
              class="text-center rating-region-comment"
              [innerHTML]="headers[4].text">
        </tr>
        <tr>
          <th class="text-center">Суммарный показатель</th>
          <th *ngIf="headers[0].is_displayed"></th>
          <th></th>
          <ng-container *ngFor="let region of regionsS.regions">
            <th class="text-center fake-input" *ngIf="region.is_displayed">
              <div class="text-center form-control"
                [style.background-color]="loadedRating.sum_values[region.id] ? loadedRating.sum_values[region.id][1] : 'none'">
                {{loadedRating.sum_values[region.id] ? loadedRating.sum_values[region.id][0].toFixed(1).replace('.', ',') : ''}}
              </div>
            </th>
          </ng-container>
          <th *ngIf="headers[1].is_displayed"
              class="element-average">
            <div class="text-center form-control">
              {{loadedRating?.avg_value}}
            </div>
          </th>
          <th *ngIf="headers[2].is_displayed"></th>
          <th *ngIf="headers[3].is_displayed"></th>
          <th *ngIf="headers[4].is_displayed"></th>
        </tr>

        <tr class="rating-max-available-header">
          <th class="text-center">Максимально возможный<br>показатель</th>
          <th *ngIf="headers[0].is_displayed"></th>
          <th></th>
          <ng-container *ngFor="let region of regionsS.regions">
            <th class="element-average"
                *ngIf="region.is_displayed">
              <div class="text-center form-control">
                {{loadedRating.max_possible_value}}
              </div>
            </th>
          </ng-container>
          <th *ngIf="headers[1].is_displayed">
          </th>
          <th *ngIf="headers[2].is_displayed"></th>
          <th *ngIf="headers[3].is_displayed"></th>
          <th *ngIf="headers[4].is_displayed"></th>
        </tr>
      </thead>

      <!--############################# TABLE BODY ##############################-->

      <tbody>
      <tr *ngFor="let element of loadedRating.elements">
        <td class="rating-element-name blue-background">
          <a routerLink="/rating-element/{{element.id}}"
             routerLinkActive="active">
            {{element.rating_element.number}})
            {{element.rating_element.name + '.'}}
          </a>
        </td>
        <td *ngIf="headers[0].is_displayed"
            class="rating-responsible-name blue-background">
          <div
            *ngIf="auth.user && auth.user.role === 'admin' && !loadedRating.is_approved"
            class="btn-group responsible-select" dropdown>
            <button
              [ngClass]="{'element-saved': !pendingSaves[element.id]['responsible'], 'element-save-pending': pendingSaves[element.id]['responsible']}"
              id="responsible-button" type="button" class="btn btn-default"
              dropdownToggle>
              {{element.responsible.displayName}} <span
              class="caret"></span>
            </button>
            <ul dropdownMenu role="menu"
                aria-labelledby="responsible-button">
              <li *ngFor="let employee of prefempS.employees"
                  role="menuitem">
                <a class="dropdown-item"
                   (click)="element.responsible.id !== employee.id && changeElementResponsibleAndSave(element, employee)">{{employee.displayName}}</a>
              </li>
            </ul>
          </div>
          <span
            *ngIf="!auth.user || auth.user.role !== 'admin' || loadedRating.is_approved">{{element.responsible.displayName}}</span>
        </td>
        <td></td>
        <ng-container *ngFor="let region of regionsS.regions">
          <td class="fake-input"
              *ngIf="region.is_displayed">
            <div
              [style.background-color]="element.values[region.id]?.color"
              class="text-center form-control">
              {{element.values[region.id] ? element.weightedValue(element.values[region.id]._value) : ''}}
            </div>
          </td>
        </ng-container>

        <td *ngIf="headers[1].is_displayed"
            class="element-average">
          <div class="text-center form-control">
            {{element.weightedValue(element._avg)}}
          </div>
        </td>
        <td *ngIf="headers[2].is_displayed"
            class="rating-element-description blue-background textarea-wrapper">
          {{element.rating_element.base_description}}
          <textarea
            *ngIf="auth.user && auth.user.role === 'admin' && !loadedRating.is_approved"
            autosize
            class="form-control"
            [ngClass]="{'element-saved': !pendingSaves[element.id]['additional_description'], 'element-save-pending': pendingSaves[element.id]['additional_description']}"
            [ngModel]="element.additional_description"
            (ngModelChange)="emitElementChange(element.id, 'additional_description', $event)"></textarea>
          <span
            *ngIf="!auth.user || auth.user.role !== 'admin' || loadedRating.is_approved">
            {{element.additional_description}}
          </span>
        </td>
        <td *ngIf="headers[3].is_displayed"
            class="rating-negotiator-comment light-red-background textarea-wrapper">
          <textarea
            *ngIf="auth.user && auth.user.can_approve_rating && !loadedRating.is_approved"
            autosize
            class="form-control"
            [ngClass]="{'element-saved': !pendingSaves[element.id]['negotiator_comment'], 'element-save-pending': pendingSaves[element.id]['negotiator_comment']}"
            [ngModel]="element.negotiator_comment"
            (ngModelChange)="emitElementChange(element.id, 'negotiator_comment', $event)"></textarea>
          <span
            *ngIf="!auth.user || !auth.user.can_approve_rating || loadedRating.is_approved">
            {{element.negotiator_comment}}
          </span>
        </td>
        <td *ngIf="headers[4].is_displayed"
            class="rating-region-comment light-gray-background textarea-wrapper">
          <textarea
            *ngIf="auth.user && element.responsible.id === auth.user.id && !loadedRating.is_approved"
            autosize
            class="form-control"
            [ngClass]="{'element-saved': !pendingSaves[element.id]['region_comment'], 'element-save-pending': pendingSaves[element.id]['region_comment']}"
            [ngModel]="element.region_comment"
            (ngModelChange)="emitElementChange(element.id, 'region_comment', $event)"></textarea>
          <span
            *ngIf="!auth.user || element.responsible.id !== auth.user.id || loadedRating.is_approved">{{element.region_comment}}</span>
        </td>
      </tr>
      <tr style="height: 0">
        <td colspan="23">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
