@import ../../../../styles

.rating-subelement-description
  min-width: 200px

.element-second-header
  border-bottom: 2px solid #ddd
  background: #e5e5e5 !important

.add-sub-element-row
  background-color: transparent !important
  td
    padding-right: 0
    span
      font-size: 18px
      color: #ffa828
      cursor: pointer

.subelement-value
  height: 100% !important
  @extend .element-value
  padding: 1px !important
  input
    min-width: 40px
  input
    font-size: 12px !important
    padding: 2px !important

.subelement-row
  td
    padding-top: 4px
    padding-bottom: 4px

.display-type-button
  min-width: 73px !important

.flex-container
  display: flex
  align-items: center
  justify-content: center

.remove-sign
  padding-right: 0
  border-right: 0 !important
  div
    @extend .flex-container
    span
      color: #e11204
      cursor: pointer

.remove-sign-inline
  display: inline-block


.save-button
  div
    @extend .flex-container

.angular2-contextmenu
  li, a
    font-size: 12px !important
    padding: 2px !important
