@import ../../../../styles

.rating-subelement-description
  min-width: 200px

.element-second-header
  border-bottom: 2px solid #ddd
  background: #e5e5e5 !important

.add-sub-element
  background-color: transparent !important
  span
    font-size: 18px
    color: #ffa828
    cursor: pointer

.subelement-value
  @extend .element-value
  padding: 1px !important
  input
    min-width: 40px
  input
    font-size: 12px !important
    padding: 2px !important

.subelement-row
  td
    padding-top: 4px
    padding-bottom: 4px

.display-type-button
  min-width: 73px !important
